/* General Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(240, 240, 240);
    background-color: rgb(25, 25, 25);
    padding: 16px;
}

input[type="text"],
input[type="number"] {
    width: 256px;
    height: 28px;
    font-size: 18px;
    color: inherit;
    background-color: rgb(80, 80, 80);
    border: none;
    padding: 4px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: 1px solid white;
}

/* Card Styles */
.cards-container {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    padding: 32px;
}

#card-form,
.card {
    height: 200px;
    position: relative;
    background-color: rgb(50, 50, 50);
    padding: 16px;
}

.card-body p {
    margin: 8px;
}

.card-add,
.card-body {
    display: flex;
}

.card-book {
    flex-direction: column;
    gap: 32px;
}

.card-remove {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 24px;
    cursor: pointer;
    font-size: 18px;
    background-color: rgb(60, 60, 60);
}

.card-remove:hover {
    background-color: rgb(80, 80, 80);
}

.card-add {
    justify-content: center;
    align-items: center;
    font-size: 64px;
    cursor: pointer;
}

#card-form {
    color: rgb(240, 240, 240);
    width: 60vw;
    height: auto;
    margin-top: 32px;
    margin-left: 32px;
    border: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 32px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-checkbox {
    flex-direction: row;
    gap: 4px;
}

.form-button {
    font-size: 18px;
    color: inherit;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(80, 80, 80);
    border-radius: 4px;
    margin-top: 16px;
    padding: 4px 24px;
    cursor: pointer;
}

.form-button:hover {
    background-color: rgb(80, 80, 80);
}
